In [1]:
# importing pandas and numpy libraries
import numpy as np
import pandas as pd

# Normal Data


## Creating Normal Data based on Domain Knowledge (Taking Rest) -TYPE 1

In [2]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([60, 100], [12, 18], [0, 3.0], [0, 2.0], [95, 98.0],[0,1])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(20000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df0_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [3]:
df0_1

       ecg  bioimpedence     speed  distance       spo2  heart_attack
0       65            12  2.409707  1.999808  97.690499             0
1       87            12  1.692731  1.601577  95.001631             0
2       84            13  2.338074  1.018215  95.327683             0
3       89            13  0.996208  0.988089  96.780855             0
4       80            16  2.883496  1.094329  95.759195             0
...    ...           ...       ...       ...        ...           ...
19995   69            13  2.193099  0.518865  96.695200             0
19996   77            14  0.617697  0.571402  97.837799             0
19997   87            17  1.389886  1.987073  97.478009             0
19998   89            12  2.284226  0.098270  96.674901             0
19999   83            15  2.482052  1.548256  96.355707             0

[20000 rows x 6 columns]

## Creating Normal Data based on Domain Knowledge (During Daily Work) -TYPE 2

In [4]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([75, 125], [12, 18], [0, 5.0], [0, 5.0], [95, 97.0],[0,1])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(20000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df0_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [5]:
df0_2

       ecg  bioimpedence     speed  distance       spo2  heart_attack
0       83            12  2.068352  1.802280  95.542667             0
1       85            17  1.975504  4.201834  96.366576             0
2      107            17  4.128793  0.336375  96.078599             0
3      115            15  3.174889  1.342374  96.317308             0
4       89            14  0.562828  1.796914  96.421086             0
...    ...           ...       ...       ...        ...           ...
19995  116            16  1.350244  4.728374  96.302891             0
19996   93            13  2.397217  1.396920  96.284529             0
19997   86            16  3.409720  2.143708  96.595548             0
19998   75            13  4.339881  3.788564  96.536213             0
19999  108            14  4.601114  3.449913  96.739442             0

[20000 rows x 6 columns]

## Creating Normal Data based on Domain Knowledge (Normal Running/ Jogging) -TYPE 3

In [6]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([100, 150], [12, 20], [4, 7.5], [0, 15.0], [95, 98.0],[0,1])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(20000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df0_3 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)], axis=1)

In [7]:
df0_3

       ecg  bioimpedence     speed   distance       spo2  heart_attack
0      148            17  5.958868  11.931186  97.366259             0
1      108            17  5.181673   5.205464  95.194439             0
2      133            14  5.231267   5.343137  96.332270             0
3      135            16  4.998837  10.690627  96.865257             0
4      145            14  5.041384   3.232910  96.220535             0
...    ...           ...       ...        ...        ...           ...
19995  142            13  6.996928   5.900619  96.905756             0
19996  139            17  7.379497   5.364402  97.056414             0
19997  145            17  7.237450  13.820381  96.725485             0
19998  127            12  5.271720  12.524786  97.990342             0
19999  134            14  5.256413   9.606057  95.398169             0

[20000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 1): Taking Rest with Abnormal Pulse rate

### Taking Rest with low pulse rate

In [8]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([40, 60], [12, 18], [0, 2.0], [0, 2.0], [95, 98.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df1_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [9]:
df1_1

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0      52            17  0.481062  0.819201  97.813257             1
1      50            13  0.395833  1.351677  97.619412             1
2      54            13  1.518700  1.249623  97.661653             1
3      46            13  1.429505  1.064118  95.762632             1
4      55            14  0.726303  0.350203  97.534587             1
...   ...           ...       ...       ...        ...           ...
4995   50            14  0.043666  1.050171  97.000424             1
4996   41            13  0.810327  1.728796  96.797129             1
4997   57            13  1.209145  1.673746  96.539758             1
4998   47            14  0.838577  1.855175  95.771014             1
4999   42            12  0.651412  1.831566  97.841060             1

[5000 rows x 6 columns]

### Taking Rest with high pulse rate

In [10]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([100, 180], [12, 18], [0, 2.0], [0, 2.0], [95, 98.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df1_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [11]:
df1_2

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     126            14  0.787433  0.643118  95.251676             1
1     171            16  0.648739  1.617113  96.877986             1
2     128            13  1.534222  0.615165  97.776543             1
3     172            17  1.014002  1.815385  97.356609             1
4     154            13  1.702611  0.283706  97.987677             1
...   ...           ...       ...       ...        ...           ...
4995  111            16  0.173287  0.464413  97.577994             1
4996  101            14  0.658124  1.453387  96.878382             1
4997  121            14  0.327944  1.231982  95.721708             1
4998  147            12  0.778279  1.521797  97.847443             1
4999  169            13  0.873533  1.442579  95.709311             1

[5000 rows x 6 columns]

### Taking Rest with Abnormal Pulse Rate and Breathing rate

In [12]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([100, 170], [20, 35], [0, 2.0], [0, 2.0], [95, 98.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df1_3 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [13]:
df1_3

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     121            23  0.514572  1.070645  97.137168             1
1     132            20  1.775906  0.886844  95.778416             1
2     169            33  0.148611  1.269211  97.327921             1
3     166            22  1.020411  1.477522  95.459875             1
4     115            23  0.875570  1.608025  96.116336             1
...   ...           ...       ...       ...        ...           ...
4995  122            26  1.482520  0.631056  95.095962             1
4996  145            33  1.838152  0.771743  95.999595             1
4997  139            20  0.188068  0.620017  95.181878             1
4998  106            29  1.905049  1.222429  97.976840             1
4999  152            22  0.357947  0.526560  96.583725             1

[5000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 2)

### Walking with Abnormal Pulse Rate

In [14]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([140, 170], [12, 18], [4, 5.0], [0, 10.0], [95, 98.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df2_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [15]:
df2_1

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     160            14  4.721859  6.096512  95.217470             1
1     168            15  4.800293  3.305972  96.394146             1
2     157            13  4.759884  2.109232  97.004681             1
3     148            14  4.638284  3.571629  95.782643             1
4     159            14  4.100025  7.188952  96.863484             1
...   ...           ...       ...       ...        ...           ...
4995  162            17  4.101867  7.908541  96.890030             1
4996  158            14  4.484705  4.392353  95.490562             1
4997  165            12  4.532309  4.150496  96.861330             1
4998  157            14  4.881982  8.837324  96.551515             1
4999  147            17  4.604391  2.157161  95.833824             1

[5000 rows x 6 columns]

### Walking with Abnormal Pulse Rate and Breathing rate

In [16]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([140, 170], [20, 35], [4, 5.0], [0, 10.0], [95, 98.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df2_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [17]:
df2_2

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     156            33  4.885058  9.510211  97.595297             1
1     160            30  4.019829  2.216894  96.226545             1
2     162            32  4.166558  6.632220  95.188645             1
3     140            23  4.365099  1.620752  97.913276             1
4     143            32  4.681866  3.514578  96.470236             1
...   ...           ...       ...       ...        ...           ...
4995  141            34  4.453729  6.639433  96.012231             1
4996  148            28  4.356153  2.774924  97.236666             1
4997  157            26  4.260615  5.314149  97.472737             1
4998  143            24  4.615451  3.330973  95.000264             1
4999  149            28  4.095904  3.830698  97.930195             1

[5000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 3)

### Running with Abnormal Pulse Rate

In [18]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([140, 170], [12, 18], [6, 8.0], [0, 10.0], [95, 98.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df3_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [19]:
df3_1

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     159            17  7.274813  4.061867  95.566414             1
1     142            14  6.726142  6.375891  95.145729             1
2     167            16  6.491660  9.825108  97.070043             1
3     150            13  6.870661  6.032603  96.681365             1
4     154            12  6.099564  0.472528  96.483910             1
...   ...           ...       ...       ...        ...           ...
4995  153            16  7.656953  3.614557  95.649773             1
4996  169            14  7.595523  2.149934  95.559584             1
4997  158            15  7.650225  4.584635  97.320051             1
4998  150            15  7.375248  0.485343  96.805791             1
4999  165            14  7.403562  2.148401  96.708520             1

[5000 rows x 6 columns]

### Running with Abnormal Pulse Rate and Breathing rate

In [20]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([140, 170], [20, 35], [6, 8.0], [0, 10.0], [95, 98.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df3_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [21]:
df3_2

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     147            30  6.953272  2.506695  97.824334             1
1     145            31  6.506225  6.956805  97.577123             1
2     164            30  6.374207  3.350042  97.622110             1
3     164            24  6.395138  6.151916  95.626604             1
4     157            32  6.236042  0.528406  96.727837             1
...   ...           ...       ...       ...        ...           ...
4995  140            33  7.227965  7.297156  95.064947             1
4996  168            28  6.593699  0.599920  96.034991             1
4997  158            29  7.147498  4.345661  95.203214             1
4998  142            32  6.789782  9.533397  97.670856             1
4999  168            23  7.519938  2.788114  96.431773             1

[5000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 4)

### Lower Oxygen Level in the blood while taking rest

In [22]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([60, 100], [12, 18], [0, 3.0], [0, 2.0], [85, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [23]:
df4_1

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0      88            14  2.347264  1.424169  89.255371             1
1      84            15  1.686571  1.286460  85.594179             1
2      81            12  0.249958  1.954222  88.527015             1
3      90            12  1.681644  0.760461  89.654800             1
4      86            13  0.591820  1.750130  86.111588             1
...   ...           ...       ...       ...        ...           ...
4995   82            15  2.640433  1.226891  88.095307             1
4996   68            14  1.553803  0.384579  92.377508             1
4997   86            13  2.793929  0.822395  85.651051             1
4998   61            12  2.409244  0.229919  85.504525             1
4999   67            12  2.835027  1.702186  90.478838             1

[5000 rows x 6 columns]

### Lower Oxygen Level in the blood During Daily Work

In [24]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([75, 125], [12, 18], [0, 5.0], [0, 5.0], [85, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [25]:
df4_2

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     107            17  0.396049  4.782647  89.122258             1
1      97            16  1.734085  4.101209  90.353048             1
2     102            15  3.449394  0.534361  92.403950             1
3      76            15  3.433922  0.028518  93.223258             1
4     112            17  2.473668  4.797312  90.322110             1
...   ...           ...       ...       ...        ...           ...
4995  120            13  3.043926  4.410807  86.146565             1
4996   98            15  2.385598  2.382330  87.238384             1
4997  102            12  2.891665  0.270860  92.037056             1
4998  103            13  0.402888  3.077675  86.560223             1
4999   76            14  4.202944  0.005931  87.635062             1

[5000 rows x 6 columns]

### Lower Oxygen Level in the blood During Running

In [26]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([100, 150], [12, 20], [4, 7.5], [0, 15.0], [85, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_3 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)], axis=1)

In [27]:
df4_3

      ecg  bioimpedence     speed   distance       spo2  heart_attack
0     109            14  7.468893   8.357333  89.837486             1
1     113            13  4.176259   5.319756  94.974383             1
2     125            13  7.127676  13.760212  92.029113             1
3     143            13  6.041582   2.734733  85.106632             1
4     120            18  6.313654   3.738966  93.572023             1
...   ...           ...       ...        ...        ...           ...
4995  135            16  4.115404   1.180201  94.251640             1
4996  128            18  5.452968  12.188068  86.734730             1
4997  139            16  4.045092  11.911606  91.436527             1
4998  105            16  4.984541   2.454499  86.192996             1
4999  146            13  5.692154   6.718730  89.512958             1

[5000 rows x 6 columns]

### Lower Oxygen Level in the blood with any other Condition (Can  Lead to heart attack)

In [28]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([40, 170], [12, 35], [0, 8.0], [0, 10.0], [85, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(10000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_4 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [29]:
df4_4

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     135            19  5.607574  4.272603  88.503996             1
1      51            23  3.537115  3.363211  86.391067             1
2      79            31  2.377417  7.181740  88.267705             1
3     107            31  1.223344  2.065818  93.947032             1
4     161            19  2.468059  5.040312  92.934307             1
...   ...           ...       ...       ...        ...           ...
9995  148            18  0.298139  2.092849  89.711210             1
9996   45            27  0.699616  6.096450  90.442891             1
9997   40            25  4.401215  0.042350  87.484733             1
9998  158            28  6.685143  9.175677  85.987515             1
9999   63            13  5.612033  4.288883  87.638282             1

[10000 rows x 6 columns]

### Training Data Set Preparation with Lebel

In [30]:
df= pd.concat([df0_1, df0_2, df0_2, df1_1, df1_2, df1_3, df2_1,df2_2,df3_1, df3_2, df4_1, df4_2, df4_3, df4_4], ignore_index=True)

In [31]:
df

        ecg  bioimpedence     speed  distance       spo2  heart_attack
0        65            12  2.409707  1.999808  97.690499             0
1        87            12  1.692731  1.601577  95.001631             0
2        84            13  2.338074  1.018215  95.327683             0
3        89            13  0.996208  0.988089  96.780855             0
4        80            16  2.883496  1.094329  95.759195             0
...     ...           ...       ...       ...        ...           ...
119995  148            18  0.298139  2.092849  89.711210             1
119996   45            27  0.699616  6.096450  90.442891             1
119997   40            25  4.401215  0.042350  87.484733             1
119998  158            28  6.685143  9.175677  85.987515             1
119999   63            13  5.612033  4.288883  87.638282             1

[120000 rows x 6 columns]

In [32]:
df.to_csv('synthetic_IoMT_70.csv',index=False)