In [1]:
# importing pandas and numpy libraries
import numpy as np
import pandas as pd

# Normal Data


## Creating Normal Data based on Domain Knowledge (Taking Rest) -TYPE 1

In [2]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([60, 100], [12, 20], [0, 2.0], [0, 2.0], [97, 100.0],[0,1])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(20000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df0_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [3]:
df0_1

       ecg  bioimpedence     speed  distance       spo2  heart_attack
0       62            18  0.478500  0.718945  98.138624             0
1       73            18  1.979112  1.466507  99.577985             0
2       79            19  0.078511  1.305145  98.103377             0
3       98            15  1.881945  0.827247  98.738854             0
4       88            14  0.297842  0.180997  97.572780             0
...    ...           ...       ...       ...        ...           ...
19995   93            17  0.564770  1.288690  97.471487             0
19996   85            18  0.915156  0.958228  98.726928             0
19997   71            17  0.770342  0.870254  99.206335             0
19998   73            16  1.746829  1.376334  98.407850             0
19999   91            16  1.773733  0.786216  99.018953             0

[20000 rows x 6 columns]

## Creating Normal Data based on Domain Knowledge (During Daily Work) -TYPE 2

In [4]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([90, 153], [12, 20], [0, 5.0], [0, 10.0], [97, 100.0],[0,1])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(20000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df0_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [5]:
df0_2

       ecg  bioimpedence     speed  distance       spo2  heart_attack
0      152            19  4.655119  7.036482  98.374782             0
1      152            17  3.687092  3.748236  97.659853             0
2      119            14  0.715504  0.698846  97.387946             0
3       91            13  2.007794  5.152247  97.640238             0
4      122            18  0.123472  0.703174  98.144688             0
...    ...           ...       ...       ...        ...           ...
19995  149            14  1.872561  4.318372  98.656141             0
19996  130            12  0.300261  4.179914  97.067245             0
19997  118            14  3.157126  3.779900  99.897864             0
19998   95            16  1.234058  5.600356  98.317510             0
19999  129            19  4.142611  5.704442  97.745187             0

[20000 rows x 6 columns]

## Creating Normal Data based on Domain Knowledge (Normal Running/ Jogging) -TYPE 3

In [6]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([90, 180], [12, 20], [4, 7.5], [0, 15.0], [97, 100.0],[0,1])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(20000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df0_3 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)], axis=1)

In [7]:
df0_3

       ecg  bioimpedence     speed   distance       spo2  heart_attack
0      127            19  6.126884   3.595564  98.123619             0
1       90            12  4.685100   1.458155  98.642148             0
2       98            18  5.184979   1.285727  98.856799             0
3      163            13  6.401910   5.695315  99.950597             0
4      173            13  6.997010  12.520099  98.613986             0
...    ...           ...       ...        ...        ...           ...
19995  106            13  6.241621   0.304026  99.187058             0
19996  174            12  4.528776  14.538233  97.174307             0
19997   92            15  5.580836   6.859602  97.830474             0
19998  136            15  6.318875   1.971282  99.514482             0
19999  179            17  5.701793   3.522774  97.080917             0

[20000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 1): Taking Rest with Abnormal Pulse rate

### Taking Rest with low pulse rate

In [8]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([40, 60], [12, 20], [0, 2.0], [0, 2.0], [97, 100.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df1_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [9]:
df1_1

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0      56            17  0.352281  1.003525  99.323742             1
1      44            13  0.234654  0.522562  99.575763             1
2      58            17  1.307988  0.439892  97.134852             1
3      46            16  1.200054  0.408248  97.107598             1
4      41            16  1.571063  1.012758  97.844716             1
...   ...           ...       ...       ...        ...           ...
4995   42            12  1.581005  1.702744  98.295537             1
4996   42            16  0.704963  1.806026  99.053429             1
4997   46            13  0.255037  1.521799  98.247331             1
4998   50            18  0.370917  0.492718  97.000321             1
4999   45            15  0.031266  0.329139  97.807700             1

[5000 rows x 6 columns]

### Taking Rest with high pulse rate

In [10]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([100, 180], [12, 20], [0, 2.0], [0, 2.0], [97, 100.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df1_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [11]:
df1_2

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     117            15  1.513115  0.672820  97.480071             1
1     171            19  1.885637  0.059298  99.847806             1
2     135            18  1.353958  0.834310  98.168185             1
3     124            15  0.916419  1.652535  99.085399             1
4     120            16  0.918809  0.848195  97.891793             1
...   ...           ...       ...       ...        ...           ...
4995  128            14  0.246763  1.030198  99.030656             1
4996  144            16  1.779846  0.893651  99.788011             1
4997  157            13  1.568894  0.494702  98.566026             1
4998  165            16  1.477022  0.787203  97.996272             1
4999  163            17  0.496687  1.747371  98.831148             1

[5000 rows x 6 columns]

### Taking Rest with Abnormal Pulse Rate and Breathing rate

In [12]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([100, 170], [20, 35], [0, 2.0], [0, 2.0], [97, 100.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df1_3 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [13]:
df1_3

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     141            31  1.668877  0.082792  98.633558             1
1     155            20  1.091037  0.331276  97.444958             1
2     128            23  1.054084  0.309675  97.181945             1
3     159            20  1.946475  1.783645  98.264315             1
4     143            34  1.381799  1.729709  98.546832             1
...   ...           ...       ...       ...        ...           ...
4995  118            25  1.996807  0.454731  98.919744             1
4996  138            26  1.621356  1.127566  99.880063             1
4997  159            31  1.286038  1.573520  97.551424             1
4998  147            23  0.250029  1.198330  97.382434             1
4999  149            28  1.512423  0.554818  97.275846             1

[5000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 2)

### Walking with Abnormal Pulse Rate

In [14]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([150, 200], [12, 20], [3, 5.0], [0, 10.0], [97, 100.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df2_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [15]:
df2_1

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     159            14  3.595680  6.873218  97.909845             1
1     151            14  4.854166  5.324695  98.364258             1
2     181            18  3.566606  3.668863  99.896100             1
3     174            17  3.337877  5.053831  98.455682             1
4     178            13  3.508628  8.301684  99.281205             1
...   ...           ...       ...       ...        ...           ...
4995  188            18  4.369557  0.726000  99.091642             1
4996  176            19  3.176262  9.505567  99.295571             1
4997  190            13  4.333574  7.750061  97.316271             1
4998  190            14  3.528006  1.563374  98.872817             1
4999  193            19  4.037595  7.781690  99.352100             1

[5000 rows x 6 columns]

### Walking with Abnormal Pulse Rate and Breathing rate

In [16]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([150, 200], [20, 35], [3, 5.0], [0, 10.0], [97, 100.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df2_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [17]:
df2_2

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0     185            27  3.962289  7.498110  97.507118             1
1     184            31  3.479751  2.402407  98.082039             1
2     182            26  3.901951  0.979320  98.717361             1
3     157            26  3.956921  5.314652  98.769770             1
4     172            28  3.494370  8.565768  99.130019             1
...   ...           ...       ...       ...        ...           ...
4995  161            24  4.388485  2.714631  97.892873             1
4996  181            32  3.778197  0.102455  97.664538             1
4997  160            32  4.316468  5.909165  99.076101             1
4998  176            27  3.317063  8.737610  97.930301             1
4999  191            25  3.535942  2.973939  98.528747             1

[5000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 3)

### Running with Abnormal Pulse Rate

In [18]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([150, 200], [12, 20], [6, 10.0], [0, 20.0], [97, 100.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df3_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [19]:
df3_1

      ecg  bioimpedence     speed   distance       spo2  heart_attack
0     151            13  6.448549  16.852865  99.564077             1
1     161            17  6.078829   4.500589  98.377996             1
2     183            15  6.293361  11.266847  97.093791             1
3     172            14  7.166961  11.990536  99.507707             1
4     182            18  9.212219  18.222203  97.448776             1
...   ...           ...       ...        ...        ...           ...
4995  198            19  7.374010   3.322014  97.957223             1
4996  153            19  9.921365   1.151085  99.796291             1
4997  172            18  9.586462  17.473774  97.102537             1
4998  193            14  9.581897   3.573222  98.733142             1
4999  153            16  9.355135   1.789184  98.718577             1

[5000 rows x 6 columns]

### Running with Abnormal Pulse Rate and Breathing rate

In [20]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([150, 200], [20, 35], [6, 10.0], [0, 20.0], [97, 100.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df3_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [21]:
df3_2

      ecg  bioimpedence     speed   distance       spo2  heart_attack
0     193            31  7.572974   0.775968  98.985569             1
1     175            32  9.466904   8.030640  99.324052             1
2     162            32  7.982340   6.376742  98.337021             1
3     194            20  9.517108   8.058026  98.090323             1
4     177            26  9.014346  14.079239  98.549046             1
...   ...           ...       ...        ...        ...           ...
4995  160            31  6.301611  12.029150  99.685988             1
4996  164            21  8.739144  11.066715  99.500332             1
4997  168            31  9.471364  14.933495  97.239612             1
4998  160            22  9.234320  12.754503  99.264959             1
4999  182            20  8.718079  15.817064  99.461498             1

[5000 rows x 6 columns]

## Creating Heart Attack Dataset (Scenario 4)

## Lower Oxygen Level in the blood while taking rest

In [22]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([60, 100], [12, 20], [0, 3.0], [0, 2.0], [80, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_1 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [23]:
df4_1

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0      97            13  2.481720  1.268291  82.294693             1
1      91            13  2.691405  1.609889  90.165980             1
2      62            18  1.181243  1.930840  84.878397             1
3      71            18  2.729374  0.923574  85.882028             1
4      82            16  1.439311  1.715326  91.697316             1
...   ...           ...       ...       ...        ...           ...
4995   88            12  0.737307  0.343975  84.500469             1
4996   77            18  0.964404  1.253892  89.792049             1
4997   83            13  1.446804  1.012165  80.476604             1
4998   93            13  1.968151  0.322287  93.310848             1
4999   83            16  2.119740  0.588229  92.852278             1

[5000 rows x 6 columns]

## Lower Oxygen Level in the blood During Daily Work

In [24]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([90, 153], [12, 20], [0, 5.0], [0, 10.0], [80, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_2 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [25]:
df4_2

      ecg  bioimpedence     speed  distance       spo2  heart_attack
0      93            15  2.031642  1.611657  93.490260             1
1     134            19  1.673214  7.325952  81.925556             1
2     113            15  3.880461  7.092127  84.448387             1
3     111            18  2.434884  7.955274  90.685369             1
4     104            12  3.159414  2.574938  84.952872             1
...   ...           ...       ...       ...        ...           ...
4995  122            18  2.433769  2.981444  91.836246             1
4996  130            18  3.045806  4.342930  87.250045             1
4997  112            13  4.826417  8.885590  80.031943             1
4998  132            13  1.394978  5.259798  86.481501             1
4999  123            16  1.101499  1.367925  90.439946             1

[5000 rows x 6 columns]

## Lower Oxygen Level in the blood During Running

In [26]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([100, 160], [12, 20], [4, 7.5], [0, 15.0], [80, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(5000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_3 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)], axis=1)

In [27]:
df4_3

      ecg  bioimpedence     speed   distance       spo2  heart_attack
0     159            17  5.358264  13.885495  84.313454             1
1     110            17  5.732336   4.633160  91.395041             1
2     109            18  6.047147   3.569177  82.070155             1
3     112            16  6.877323  12.571134  87.081028             1
4     148            17  4.488499   5.672112  80.976584             1
...   ...           ...       ...        ...        ...           ...
4995  147            19  4.733913   2.889489  83.968259             1
4996  120            14  6.394592  10.994597  94.850353             1
4997  111            17  5.868905   2.941116  90.045751             1
4998  102            12  4.479438   6.708853  92.250896             1
4999  119            13  4.398630   3.776071  81.001087             1

[5000 rows x 6 columns]

## Lower Oxygen Level in the blood with any other Condition (Can Lead to heart attack)

In [28]:
#[          ecg,    bioimpedence,speed, distance, spo2, heart_attack]

min_max = ([40, 200], [6, 35], [0, 10.0], [0, 20.0], [80, 95.0],[1,2])


def make_series(low, high, name):
    if any(isinstance(_, float) for _ in (low, high)):
        func = np.random.uniform
    else:
        func = np.random.randint
    return pd.Series(func(low, high, size=(10000,)), name=name)

column_names = ("ecg", "bioimpedence", "speed", "distance", "spo2", "heart_attack")

df4_4 = pd.concat([make_series(lo, hi, name) for (lo, hi), name in zip(min_max, column_names)],
          axis=1)

In [29]:
df4_4

      ecg  bioimpedence     speed   distance       spo2  heart_attack
0     101            29  4.237997   0.557797  90.539972             1
1      80            11  9.894442  19.749373  88.820513             1
2     163            10  3.685685  18.333389  92.115604             1
3     183             7  9.071244  12.440169  88.718961             1
4     153            33  0.648213   7.594577  91.056141             1
...   ...           ...       ...        ...        ...           ...
9995  158             6  6.733421   3.517949  81.353547             1
9996   72            23  8.846578   4.560999  90.464274             1
9997  190            32  4.799072   1.186950  90.934420             1
9998  141            17  9.988950   1.762668  82.706460             1
9999  144            13  7.493224  11.643176  88.824606             1

[10000 rows x 6 columns]

### Training Data Set Preparation with Lebel

In [30]:
df= pd.concat([df0_1, df0_2, df0_2, df1_1, df1_2, df1_3, df2_1,df2_2,df3_1, df3_2, df4_1, df4_2, df4_3, df4_4], ignore_index=True)

In [31]:
df

        ecg  bioimpedence     speed   distance       spo2  heart_attack
0        62            18  0.478500   0.718945  98.138624             0
1        73            18  1.979112   1.466507  99.577985             0
2        79            19  0.078511   1.305145  98.103377             0
3        98            15  1.881945   0.827247  98.738854             0
4        88            14  0.297842   0.180997  97.572780             0
...     ...           ...       ...        ...        ...           ...
119995  158             6  6.733421   3.517949  81.353547             1
119996   72            23  8.846578   4.560999  90.464274             1
119997  190            32  4.799072   1.186950  90.934420             1
119998  141            17  9.988950   1.762668  82.706460             1
119999  144            13  7.493224  11.643176  88.824606             1

[120000 rows x 6 columns]

In [32]:
df.to_csv('synthetic_IoMT_40.csv',index=False)